@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}

.form-container form {
    padding: 30px;
    background: white;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group {
    padding: 20px 0;
}

.form-group input {
    padding: 9px 5px;
    border-radius: 0.1rem;
    border: 1px solid #b5b5b5;
}

.form-group input:focus {
    border: 1px solid red;
    outline: none;
}

.form-container form>.form-group {
    padding-top: 0;
}

.form-container form button {
    padding: 10px 20px;
    background: rgb(74, 74, 245);
    color: white;
    border: 1px solid rgb(74, 74, 245);
}

.form-container form button:hover {
    background: white;
    color: rgb(74, 74, 245);
}

.form-title {
    text-align: center;
}

.form-title label {
    font-size: 25px;
    font-weight: 600;
}

#error {
    color: red;
    padding-bottom: 10px;
}