@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4267B2;
    font-family: 'Roboto', sans-serif;
}

:focus {
    outline: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    border-radius: 0.5rem;
    background: white;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

form {
    border: 1px solid #a1a1a1;
    margin-bottom: 10px;
}

#name {
    padding: 5px 10px;
    border: none;
}

#mainBtn {
    padding: 5px 10px;
    border: none;
    background: #95D03A;
    color: white;
}

.container h2 {
    margin-bottom: 10px;
}

.edit-icon {
    color: #95D03A;
}

.delete-icon {
    color: #ff0000;
}

table {
    width: 100%;
}

th,
td {
    padding: 5px;
}